@import "../styles/index";

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #f08, #d0e, #91f, #70f, #40f, #05f, #09f) center 40% / 100% 500% no-repeat;
}
