$font-family: "Raleway", cursive;

// Font sizes
$font-size-xl: 28px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;

// Colors
$background-color: #ffffff;
$board-color: #3D251D;

$radius: 4px;
$cell-size: 64px;
$wall-width: 8px;
$wall-length: ($cell-size * 2 - $wall-width);
$player-size: 48px;
