@import "../styles/index";

.button {
    font-size: $font-size-s;
    height: 36px;
    padding: 0 16px;
    color: #000;
    background: transparent;
    border-radius: 4px;
    border-style: solid;
    border-color: #cecece;
    border-width: 2px 2px 4px 2px;
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
        background: #f1f1f1;
        transform: scale(1.05);
    }
    &:active {
        color: inherit;
        transform: scale(0.95);
    }
}
