@import "../styles/index";

.cell {
    position: absolute;
    height: ($cell-size - $wall-width);
    width: ($cell-size - $wall-width);
    margin: $wall-width / 2;
    background: #87580a;
    border-radius: 4px;
    //box-shadow: 2px 2px 0 0 #99640b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;

    &__hover {
        background: #93630a;
        //box-shadow: 3px 3px 0 0 #64c261;
    }

    &__inner {
        cursor: pointer;
        height: 40px;
        width: 40px;
        z-index: 1000;
    }
}
