@import "../styles/index";

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: $cell-size;
    width: $cell-size;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    height: $player-size;
    width: $player-size;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 3px 3px rgba(80,80,80,0.1);

    &__letter {
        font-size: $font-size-xl;
        font-weight: bold;
        color: #fff;
        opacity: 0.4;
        line-height: $player-size;
    }
}
