@import "../styles/index";

.wall {
    position: absolute;
    border-radius: 2px;
    animation: opacity-animation 0.2s;

    &__vertical {
        margin-left: (-$wall-width / 2);
        margin-top: ($wall-width / 2);

        &__inner {
            height: $wall-length;
            width: $wall-width;
        }
    }

    &__horizontal {
        margin-left: ($wall-width / 2);
        margin-top: (-$wall-width / 2);

        &__inner {
            width: $wall-length;
            height: $wall-width;
        }
    }
}

@keyframes opacity-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
